header {
  background-color: #282828;
  color: white;
  min-height: 5em;
  display: flex;
}
.header-title {
  cursor: pointer;
}
footer {
  background-color: #282828;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2.5em;
}
