header {
  background-color: #282828;
  color: white;
  min-height: 5em;
  display: flex;
}
.header-left {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-size: 5vh;
}
.header-left img {
  max-height: 5vh;
}
.header-left div {
  margin-bottom: 0.25em;
}
footer {
  background-color: #282828;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 2.5em;
}
