.title {
  font-size: xx-large;
  font-weight: lighter;
}
.admin-view-container {
  display: flex;
  flex-direction: column;
  margin: 15vh 30vw;
}
.admin-view-options {
  padding-top: 1rem;
  padding-left: 1rem;
  align-self: flex-start;
}
.admin-view__option {
  font-size: x-large;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  padding: 0.5rem;
}
.suboption {
  color: blue;
  cursor: pointer;
  padding: 0.5rem 2rem;
  text-decoration: underline;
}
.manage-accounts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-table {
  text-align: center;
  border-collapse: collapse;
  margin: 2rem 0.5rem;
}
.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
