.image-slider__container {
  padding: 0.25rem 0.8rem;
}
.image-slider__title {
  margin-bottom: 0.25rem;
  font-size: x-large;
  font-weight: lighter;
}
.no-images {
  text-align: center;
  margin-top: 25vh;
}
.no-images__text {
  color: gray;
  font-size: xx-large;
  margin-bottom: 0.25rem;
}
.slider-container {
  display: flex;
  flex-direction: column;
  padding: 2em 0.5em;
}
.slider-container_arrow-icons {
  font-size: 4em;
  margin: 0.1em;
  cursor: pointer;
}
.slider-container_arrow-icons:hover {
  filter: drop-shadow(2px 1px 1px grey);
}
.manage-image__row {
  display: flex;
  justify-content: space-between;
}
.selection-row {
  display: flex;
  align-items: center;
}
.selection-row svg {
  cursor: pointer;
}
.slider {
  display: flex;
  align-items: center;
}
.slider img {
  overflow: hidden;
  height: auto;
  max-width: 90vw;
}
