.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0.5em;
}
.slider-container_arrow-icons {
  font-size: 4em;
  margin: 0.1em;
  cursor: pointer;
}
.slider-container_arrow-icons:hover {
  filter: drop-shadow(2px 1px 1px grey);
}
